<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>

  <body>
    <div class="container">
      <div>
        <h1>Sign in</h1>
      </div>
      <div>
        <div>
            <p>Select the service you would like to sign in with:</p>
            <ul>
                <li><a href="/auth/login/google">Google</a></li>
                <li><a href="/auth/login/github">GitHub</a></li>
            </ul>
        </div>
      </div>
    </div>
  </body>
</html>
